
  <form class="form_ran">
    <button type = "button" (click)="btnClick($event)" [value]="numbers[0]">Click me</button>
    <p>Random number: {{numbers[0]}}</p>
    <p>Random number: {{btnVal}}</p>
  </form>

